<h1>Home#index</h1>

<div>
    
    <% @tweets.each do |tweet| %>

        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
                <%= image_tag (tweet.user.photo_url), class:"avatar-in-tweet card-img-top" %>
                <%= tweet.content %>
            <hr/>
                <div class="text-center">
                <%= tweet.likes.count %> likes | 0 re-tweets
                </div>
            </div>
        </div>
            <%end%>

<%# <%= paginate @tweets%>
<%= link_to_next_page @tweets, "Mostrar más"%>

</div>